<p>loginflow works!</p>


<mat-card>
    <mat-grid-list cols="2" rowHeight="150px" [gutterSize]="'10px'">
        <mat-grid-tile class="g1">ISABELBEL</mat-grid-tile>
        <mat-grid-tile class="g2">CHANCHAN</mat-grid-tile>
    </mat-grid-list>
</mat-card>





<mat-card>
    <mat-grid-list cols="2" rowHeight="2:1" [gutterSize]="'10px'">
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
      </mat-grid-list>
    
</mat-card>

