<mat-sidenav-container>

    <mat-sidenav #sidenav mode="side" [(opened)]="opened" opened>
        <div class="container">

            <h3 class='text'>HEALTH CHECKER</h3>
            <mat-nav-list>

             
                <a class='text' mat-list-item routerLink="/login-flow" routerLinkActive="active">Login Flow</a>
                <a class='text' mat-list-item routerLink="/Payments" routerLinkActive="active">Payments</a>
                
                <a class='text' mat-list-item>Outage</a>
                <a class='text' mat-list-item>Start Stop Move</a>
                <a class='text' mat-list-item>Login Flow</a>
                <a class='text' mat-list-item>Login Flow</a>
                <a class='text' mat-list-item>Login Flow</a>

            </mat-nav-list>




        </div>



    </mat-sidenav>

    <mat-sidenav-content>

        
        <router-outlet></router-outlet>

    </mat-sidenav-content>

</mat-sidenav-container>